---
import { Icon } from 'astro-icon/components'
---

<header class="flex justify-between items-center lg:mb-14 mb-10 px-4 pt-5 lg:pt-12 lg:px-8 max-w-3xl w-full mx-auto">
  <a class="rounded inline-block px-4 py-2 text-xl font-semibold bg-zinc-950" href="/">
    <span class="text-white">Reactjs</span>
    <span class="text-yellow-300 -ml-1">.tips</span>
  </a>

  <div>
    <a href="https://twitter.com/reactjs_tips" target="_blank">
      <Icon class="text-[#1DA1F2] text-4xl" name="mdi:twitter" />
    </a>
  </div>
</header>
